* {
    box-sizing:border-box;

}

body {
    background-color: #EEF9BF;
    width: 1100px;
    height: 620px;
}

.nome-jogo {
    width: 530px;
    max-width: 100%;
    height: 80px;
    font-size: 56px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #75B79E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 39%;
}

.container {
    width: 880px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 250px;
    overflow: hidden;
}

.carta {
    width: 130px;
    height: 160px;
    margin: 10px 10px 0 10px;
    position: relative;
}
.face img{
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}


.escondido {
    display: none;
}   

.back-face > img{    
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

/*


    backface-visibility: hidden;

    transform-style: preserve-3d;

.back-face {
    transform: rotateY(180deg);
}

.face .back-face{
    transform: rotateY(0deg);
}

.face .front-face{
    transform: rotateY(-180deg);
}


